/* start variables */
:root {
    --main-color: #ff9800;
    --section-padding: 50px;
}
/* End variables */
/* start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
body {
   font-family: 'Open Sans', sans-serif;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* Media for small screen  */
@media (min-width: 768) {
    .container {
        width: 750px;
    }
}
/* Media for medium screen  */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Media for  large screen  */
@media (min-width: 1200) {
    .container {
        width: 1170;
    }
}
/* End global rules */
/* Start Components */
.special-heading {
    color: var(--main-color);
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}
/* End Components */
/* Start settings box */
.settings-container {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100vh;
    background-color: white;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
}
.settings-container.open {
    left: 0;
}
.settings-container .icon-box {
    position: absolute;
    top: 100px;
    right: -40px;
    width: 40px;
    text-align: center;
    font-size: 24px;
    background-color: white;
    padding: 8px 5px;
    cursor: pointer;
}
.settings-container .color-settings {
    padding: 0 20px 20px;
    background-color: #eee;
    margin: 15px;
}
.settings-container .color-settings .colors-list li {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--main-color);
    opacity: 0.3;
    cursor: pointer;
}
.settings-container .color-settings .colors-list li.active {
    opacity: 1;
}
.settings-container .color-settings .colors-list li:nth-child(1) {
    background-color: #ff9800;
}
.settings-container .color-settings .colors-list li:nth-child(2) {
    background-color: #E91E63;
}
.settings-container .color-settings .colors-list li:nth-child(3) {
    background-color: #009688;
}
.settings-container .color-settings .colors-list li:nth-child(4){
    background-color: #03A9F4;
}
.settings-container .color-settings .colors-list li:nth-child(5) {
    background-color: #4CAF50;
}
.settings-container .background-settings,
.settings-container .bullets-settings
 {
    padding: 0 20px 20px;
    background-color: #eee;
    margin: 15px;
}
.settings-container h4 {
    font-size: 14px;
}
.settings-container .button {
    display: inline-block;
    width: 60px;
    text-align: center;
    padding: 5px;
    background-color: var(--main-color);
    cursor: pointer;
    opacity: 0.5;
}
.settings-container .button.active {
    opacity: 1;
}
/* End settings box */
/* Start nav bullets */
.nav-bullets {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 20000;
}
.nav-bullets .bullet {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    background-color: transparent;
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
}
.nav-bullets .bullet:hover::before,
.nav-bullets .bullet:hover::after {
    display: block;
}     
.nav-bullets .bullet::before {
    content: attr(data-section);
    width: 90px;
    padding: 6px 18px;
    color: white;
    position: absolute;
    top: -4px;
    left: -140px;
    background-color: var(--main-color);
    font-size: 14px;
    text-align: center;
    cursor: default;
    pointer-events: none;
    display: none;
}
.nav-bullets .bullet::after {
    content: '';
    position: absolute;
    top: 0px;
    left: -14px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent var(--main-color);
    cursor: default;
    pointer-events: none;
    display: none;
}
/* End nav bullets */
/* Start landing  */
.landing {
    background-image: url(/imgs/01.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}
.landing header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.landing header .logo {
    color: white;
    font-weight: 500;
}
.landing header .links li {
    display: inline-block;
    margin-right: 8px;
}
.landing header .links li a {
    text-decoration: none;
    color: white;
}
.landing header .links li a:hover {
    color: var(--main-color);
}
.landing .text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: white;
}
.landing .text h1 span {
    color: var(--main-color);
}
.landing .text p {
    font-size: 20px;
}
/* End landing */
/* Start About  */
.about .container {
    display: flex;
    justify-content: space-between;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.about .container .text {
    padding: 20px;
    flex-basis: 60%;
}
.about .container .text h1 {
    color: var(--main-color);
}
.about .container .text p {
    line-height: 2;
    color: #767676;
}
.about .container .image  {
    flex-basis: 250px;
}
.about .container img {
    width: 100%;
}
/* End About  */
/* Start skills  */
.skills {
    background-color: #eee;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.skills .skill-box {
    display: flex;
    padding: 15px;
    margin-bottom: 10px;
    background-color: white;
    text-align: center;
    align-items: center;
}
.skills .skill-name {
    width: 140px;
    font-weight: bold;
}
.skills .progress-bar {
    background-color: #f6f6f6;
    height: 40px;
    width: 100%;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}
.skills .progress-bar span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--main-color);
}
/* End skills  */
/* start gallery  */
.gallery {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.gallery .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery .content img {
    width: 160px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.popup-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #eee;
    padding: 25px;
    width: 50%
}
.popup-box .popup-header {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--main-color);
}
.popup-box .popup-img {
    width: 100%
}
.popup-close {
    font-size: 30px;
    color: var(--main-color);
    position: absolute;
    right: -3px;
    top: -5px;
    cursor: pointer;
}
/* End gallery */
/* Start Timeline */
.timeline {
    background-color: #eee;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.timeline .year {
    width: fit-content;
    padding: 5px;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    background-color: var(--main-color);

}
.timeline .content {
    position: relative;
    /* overflow: hidden; */
}
.timeline .content::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color:var(--main-color);
} 
.timeline .content .left,
.timeline .content .right {
    width: 50%;
    position: relative;
}
.timeline .content .left::before,
.timeline .content .right::before {
    content: '';
    position: absolute;
    top: 30px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid var(--main-color);
    z-index: 1;
}
.timeline .content .left::before {
    right: -13px;
}
.timeline .content .right::before {
    left: -11px;
}
.timeline .content .left::after,
.timeline .content .right::after {
    content: '';
    position: absolute;
    top: 32px;
    border-style: solid;
    border-width: 10px;
}
.timeline .content .left::after {
    right: 0;
    border-color: transparent transparent transparent white;

}
.timeline .content .right::after {
    left: 0;
    border-color: transparent white transparent transparent;

}
.timeline .content .left {
    float: left;
}
.timeline .content .right {
    float: right;
}
.timeline .content .text {
    padding: 20px;
    background-color: white;
    margin: 20px;
}
.timeline .content .text h4 {
    font-size: 18px;
    color: var(--main-color);
    font-weight: bold;
    margin: 0;;
}
.timeline .content .text p {
    color: rgb(102, 102, 102);
    line-height: 1.6;
    font-size: 15px;

}
.clear {
    clear: both;
}
/* End Timeline */
/* Start Features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.features .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 250px ,1fr));
    grid-gap: 30px;
}
.features .content .feat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features .content .feat-box img {
    width: 150px;
}
.features .content .feat-box .text {
    text-align: center;
}
.features .content .feat-box .text h4 {
    font-size: 22px;
    font-weight: bold;
}
.features .content .feat-box .text p {
    color: #666;
    line-height: 1.6;
}
/* End Features */
/* Start Testimonials  */
.testimonials {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.testimonials::before {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    z-index: -1;
}
.testimonials::after {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top:0;
    right: 0; 
    background-color: rgb(51, 51, 51);
    z-index: -1;
}
.testimonials .container h2 {
    color: white;
    font-size: 26px;
}
.testimonials .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 250px ,1fr));
    grid-gap: 20px;
}
.testimonials .text-box {
    padding: 20px;
    background-color: white;
} 
.testimonials .text-box p:not(:nth-child(2)) {
    color: #666;
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
}
.testimonials .text-box p:nth-child(2) {
    font-weight: bold;
    margin: 32px 0 4px 0;
}
/* End Testimonials  */
/* Start Contact Us  */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact .container {
    background-image: url(/imgs/contact.png);
    background-size: cover;
}
.contact .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contact .content .col-1,
.contact .content .col-2 {
    margin-right: 20px;
}
.contact form  input,
.contact form  textarea {
    display: block;
    padding: 10px;
    width: 350px;
    margin-bottom: 10px;
}
.contact form  input:focus,
.contact form  textarea:focus {
    outline: 1px solid var(--main-color);
}
.contact form  textarea {
    height: 150px;
}
.contact form .col-2 .button {
    width: 350px;
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    text-align:center;
    cursor: pointer;
}
/* End Contact Us  */
/* Start Footer */
footer {
    padding: 20px;
    color: white;
    text-align: center;
    background-color: rgb(51, 51, 51);
}
/* End Footer */
